<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Leap Automation">
  <test thread-count="5" name="Leap India Project TestCases">
    <classes>
		<class name="TestCases.DuplicateRetailersMerge"></class>
		<class name="TestCases.CreateSecondaryOrder"></class>

    </classes>
</test> <!-- Test -->
</suite> <!-- Suite -->
